<li class="parent_li">
    <span ng-click="nodeClicked(skillNode,expanded)" ng-if="isLeaf(skillNode)">
        <input type="checkbox" ng-checked="skillNode.checked">
    </span>
    <span class="leaf" ng-click="nodeClicked(skillNode,expanded)">
        <i ng-if="isRootNotExpanded(skillNode,expanded)" class="glyphicon glyphicon-plus">{{skillNode.name}}</i>
        <i ng-if="isRootExpanded(skillNode,expanded)" class="glyphicon glyphicon-minus">{{skillNode.name}}</i>
        <i ng-if="isLeaf(skillNode)">{{skillNode.name}}</i>
        {{showNode(skillNode)}}
    </span>
</li>